@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@600&display=swap');
*{margin: 0; padding: 0; font-family: 'Darker Grotesque', sans-serif;}
a{
    text-decoration: none;
}
h1{
    margin: 0;
}
.barra{
    width: 99px;
    /* margin-left: auto;
    margin-right: auto; */
    border-bottom: 5px solid #FFFFFF;
    margin-top: 15px;
    margin-bottom: 15px;
}
/* HEADER */
header {
    background-color: #85CDF5;
    display: flex;
    justify-content: center;
    /* height: 70px; */
}
#content-header{
    width: 70%;
    min-width: 460px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width:510px){
    #content-header{
        flex-direction: column;
        justify-content: center;
        min-width: none;
        width: auto;
    }
}
.img-header{
    position: relative;
    left: -7px;
    margin: 12px 0 6px 0;
}
.link a{
    font-size: 28px;
    color: #333333;
}
.underline-bottom{
    padding-bottom: 4px ;
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    backface-visibility: hidden;
    position: relative;
    overflow: hidden;
}
.underline-bottom:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    background: #333333;
    height: 3px;
    transform: translateX(180px);
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
  }
  .underline-bottom:hover:before, .underline-bottom:focus:before, .underline-bottom:active:before {
    transform: translateX(0);
  }
/* Main */

    /* Adote Lobinho */
#adoteLobinho{
    background: url(assets/lobo-image.png) no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
}
#adoteLobinho div{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: auto;
    color:#FFFFFF;
    text-align: center;
    padding-top: 15px;
    font-size: 3em;
}
#adoteLobinho div h1{
    display: flex;
    align-items: center;
    margin-top: 92px;
    margin-bottom: 20px;
    font-weight: bold;
}
#adoteLobinho div p{
    font-size: 32px;
    margin-bottom: 142px;
}
    /* Sobre */
#sobre{
    background-color: #2C5680;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    padding-top: 20px;
    padding-bottom: 35px;
}
#sobre div{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
}
#sobre div h2{
    color: #DEB959;
    font-size: 45px;
    padding-bottom:15px;
}
#sobre div p{
    font-size: 28px;
    color: #FFFFFF;
}

    /* Valores */
#valores{
    padding-top: 20px;
    padding-bottom: 50px;
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#escrito-valores{
    display: flex;
    justify-content: center;
    width: 70%;
}
#escrito-valores h2{
    color: #DEB959;
    font-size: 45px;
}
#content-valores{
    padding-bottom: 4vh;
    min-width: 410px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.block{
    width: 20%;
    height: 480px;
    min-width: 199px;
    margin: 15px 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.img-block{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 43%;
    width: 100%;
}
.text-block{
    height: 55%;
    width: 85%;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.text-block h3{
    padding: 15px 0 24px;
    font-size: 40px;
    font-weight: bold;
}
.text-block p{
    font-size: 22px;
}
.img-valores-1{
    /* border-radius: 360px; */
    width: 200px;
    height: 95%;
    background: url(assets/033\ \ \ Insurance.png) no-repeat;
    background-position: center center;
    background-size: 140px 140px;
    border-radius: 180px;
    background-color: white;
    display: flex;
}
.img-valores-2{
    /* border-radius: 360px; */
    width: 200px;
    height: 95%;
    background: url(assets/care.png) no-repeat;
    background-position: center center;
    background-size: 140px 140px;
    border-radius: 180px;
    background-color: white;
    display: flex;
}
.img-valores-3{
    /* border-radius: 360px; */
    width: 200px;
    height: 95%;
    background: url(assets/Frame.png) no-repeat;
    background-position: center center;
    background-size: 140px 140px;
    border-radius: 180px;
    background-color: white;
    display: flex;
}
.img-valores-4{
    /* border-radius: 360px; */
    width: 200px;
    height: 95%;
    background: url(assets/011\ \ \ Rescue\ Dog.png) no-repeat;
    background-position: center center;
    background-size: 140px 140px;
    border-radius: 180px;
    background-color: white;
    display: flex;
}
    /* Lobos Exemplos */
#exemploLobos{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
#content-ex{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.escrito-lobosEx{
    text-align: center;
    margin-bottom: 100px;
}
.escrito-lobosEx h2{
    font-size: 45px;
    color: #DEB959;
}
#lobos-content{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.bloco-lobo{
    display: flex;
    width: 100%;
    max-width: 1053px;
    margin-bottom: 100px;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.img-left, .img-right{
    width: 410px;
    height: 315px;
}

.img-left{
    box-shadow: -40px -40px 0px 0px #2C5680;
}
.img-right{
    box-shadow: 40px -40px 0px 0px #2C5680;
}
.info-lobo-right{
    width: 400px;
    text-align: right;
}
.info-lobo{
    width: 400px;
    text-align: left;
}
.info-lobo h1, .info-lobo-right h1{
    line-height: 49px;
    font-size: 30px;
}
.info-lobo h4, .info-lobo-right h4{
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 15px;
    font-style: light;
    color: #202020;
}
.info-lobo p, .info-lobo-right p{
    line-height: 20px;
    color: black;
    font-size: 21px;
}
@media (max-width: 1170px){
    .left{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .right{
        display: flex;
        justify-content: center;
        flex-wrap: wrap-reverse;
    }
    .right-info{
        text-align: left;
    }
    .left-info{
        text-align: left;
    }
}

    /* Footer */

footer{
    margin-top: 7vh;
    border-top: 5px solid;
    border-image: linear-gradient(90deg, rgba(222,185,89,1) 43%, rgba(44,86,128,1) 100%) 1;
    background-color: #333333;
    display: flex;
    justify-content: center;
}
#content-footer{
    margin: 51px 0;
    display: flex;
    justify-content: space-between;
    width: 70%;
}
#contato{
    display: flex;
}
.div-partes{
    margin: 10px 0 18px 0;
    display: flex;
    align-items: center;
    color: white;
}
#mapa{
    margin-top: 2.6%;
    margin-right: 25px;
}
.img-footer{
    padding-right: 10px;
    height: 15px;
    width: 15px;
}
.map{
    padding-right: 10px;
    height: 20px;
    width: 15px;
}
.botao-quemSomos{
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    width: 140px;
    padding: 0 5px 0 5px;
    border-radius: 5px;
    background-color: #DEB959;
    font-size: 25px;
    border: none;
}
.botao-quemSomos p{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 7px;
}
.botao-quemSomos:visited{
    text-decoration: none;
    color: black;
}
#Desenvolvido{
    display: flex;
    flex-direction: column;
    min-width: 130px;
}
#Desenvolvido .escrito-desenvolvido{
    margin: 6px 10px 10px 0;
    text-align: center;
    color: white;
    font-size: 18px;
}
#Desenvolvido .img-desenvolvido{
    margin: 6px 10px 10px 0;
    display: flex;
    justify-content: center;
}
@media (max-width: 1060px){
    #contato {
        display: flex;
        flex-direction: column;
    }
    #mapa{
        margin-bottom: 25px;
    }
}
@media (max-width:470px){
    #content-footer{
        justify-content: center;
        flex-direction: column;
    }
    #tudo-contato{
        justify-content: center;
    }
    .div-partes{
        justify-content: center;
    }
    #contato{
        justify-content: center;
    }
    #mapa{
        margin-left: 20px;
        justify-content: center;
        margin: none;
    }
    iframe{
        width: 95%;
        min-width: 140px;
    }
    .centraliza{
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
    #content-valores{
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-width: none;
        flex-wrap: wrap;
        align-content: center;
    }
}

