@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@500;600&display=swap');
*{
    margin: 0;
    padding: 0;

    font-family: 'Darker Grotesque', sans-serif;
}
/* HEADER */
header {
    background-color: #85CDF5;
    display: flex;
    justify-content: center;
    height: 30%; 
}
#content-header{
    width: 70%;
    min-width: 460px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width:510px){
    #content-header{
        flex-direction: column;
        justify-content: center;
        min-width: none;
        width: auto;
    }
}
.img-header{
    position: relative;
    left: -7px;
    margin: 12px 0 6px 0;
}
span {
    font-weight: 600;
}
.link a{
    font-weight: 600;
    text-decoration: none;
    font-size: 28px;
    color: #333333;
}
.underline-bottom{
    padding-bottom: 4px ;
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    backface-visibility: hidden;
    position: relative;
    overflow: hidden;
}
.underline-bottom:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    background: #333333;
    height: 3px;
    transform: translateX(180px);
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
  }
  .underline-bottom:hover:before, .underline-bottom:focus:before, .underline-bottom:active:before {
    transform: translateX(0);
  }


  /* MAIN */
  main{
      display: flex;
      justify-content: center;
      font-weight: 600;
    }
#conteinerall{
    margin-top: 3rem ;
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 2rem;
    flex-direction: column;
    
}
#menubody{
    margin-top: 5vh;
    height: auto;
    display: flex;
    flex-direction: column; 
}
#nameyear{
    padding: 5px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
#name{
    
    width: 70%;
}
#namee{
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 10px;
}
#nametext{
    width: 100%;
    
}
#year{
    width: 20%;
}
#yearr{
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 10px;
}
#yeartext{
    width: 100%;
}
#email{
    
    padding: 5px;
    margin: 10px;
}
#emaill{
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 10px;
}
#emailtext{
    width: 100% 
}
.textbox{
    border: none;
    border-bottom: 1px solid black;
    font-weight: bold;
    font-size: 20px;
}
#imgtitle{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-content: center;
    
}
#imgbox{
    width: auto;
    height: auto;
}
#img{
    width: 200px;
    height: 200px;
    border-radius: 360px;
}
#title{
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-self: start;
}
#tit{
    margin: 0%;
    width: 100%;

    font-weight: 800;
    font-size: 60px;
    text-align: center;
}
#id{
    font-size: xx-large;
    font-weight: 700;
    font-size: 15px
}
#sendb{
    color: white;
    background-color: #2C5680;
    margin-top: 5vh;
    border: none;
    height: 18%;
    width: 18%;
    padding: 13px;
    align-self: center;
    cursor: pointer;
    min-width: 150px;
    font-size: 20px;
    font-weight: 800;
}

input {
    height: 40%;
}
/* FOOTER */
footer{
    margin-top: 7vh;
    border-top: 5px solid;
    border-image: linear-gradient(90deg, rgba(222,185,89,1) 43%, rgba(44,86,128,1) 100%) 1;
    background-color: #333333;
    display: flex;
    justify-content: center;
}
#content-footer{
    margin: 51px 0;
    display: flex;
    justify-content: space-between;
    width: 70%;
}
#contato{
    display: flex;
}
.div-partes{
    margin: 10px 0 18px 0;
    display: flex;
    align-items: center;
    color: white;
}
#mapa{
    margin-top: 2.6%;
    margin-right: 25px;
}
.img-footer{
    padding-right: 10px;
    height: 15px;
    width: 15px;
}
.map{
    padding-right: 10px;
    height: 20px;
    width: 15px;
}
.botao-quemSomos{
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    width: 140px;
    padding: 0 5px 0 5px;
    border-radius: 5px;
    background-color: #DEB959;
    font-size: 25px;
    border: none;
}
.botao-quemSomos p{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 7px;
}
.botao-quemSomos:visited{
    text-decoration: none;
    color: black;
}
#Desenvolvido{
    display: flex;
    flex-direction: column;
    min-width: 130px;
}
#Desenvolvido .escrito-desenvolvido{
    margin: 6px 10px 10px 0;
    text-align: center;
    color: white;
    font-size: 18px;
}
#Desenvolvido .img-desenvolvido{
    margin: 6px 10px 10px 0;
    display: flex;
    justify-content: center;
}
@media (max-width: 1060px){
    #contato {
        display: flex;
        flex-direction: column;
    }
    #mapa{
        margin-bottom: 25px;
    }
}
@media (max-width:470px){
    #content-footer{
        justify-content: center;
        flex-direction: column;
    }
    #tudo-contato{
        justify-content: center;
    }
    .div-partes{
        justify-content: center;
    }
    #contato{
        justify-content: center;
    }
    #mapa{
        margin-left: 20px;
        justify-content: center;
        margin: none;
    }
    iframe{
        width: 95%;
        min-width: 140px;
    }
    .centraliza{
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
}