@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400&display=swap%27');

* {  margin: 0;     
    padding: 0;     
    font-family: 'Darker Grotesque', sans-serif;
}
/* HEADER */
header {
    background-color: #85CDF5;
    display: flex;
    justify-content: center;
    height: 30%;
}
#content-header{
    width: 70%;
    min-width: 460px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width:510px){
    #content-header{
        flex-direction: column;
        justify-content: center;
        min-width: none;
        width: auto;
    }
}
.img-header{
    position: relative;
    left: -7px;
    margin: 12px 0 6px 0;
}
span {
    font-weight: 600;
}
.link a{
    font-weight: 600;
    text-decoration: none;
    font-size: 28px;
    color: #333333;
}

.underline-bottom{
    padding-bottom: 4px ;
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    backface-visibility: hidden;
    position: relative;
    overflow: hidden;
}
.underline-bottom:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    background: #333333;
    height: 3px;
    transform: translateX(180px);
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
  }
  .underline-bottom:hover:before, .underline-bottom:focus:before, .underline-bottom:active:before {
    transform: translateX(0);
  }
/* MAIN */
#mainll{
    font-weight: 600;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#topbody{
    width: 70%;
    margin-bottom: 10vh;
}
#searchadd{
    display: flex;
    height: auto;
    justify-content: space-between;
}
#search{
    border: black solid 2px;
    width: 85%;
    margin-right: -20px;
    display: flex;
    align-content: center;
    align-items: center;
}
#searchimg{
    height: 30px;
    cursor: pointer;
} 

#searchtext{
    border: none;
    width: 95% ;
    height: 30px;
    margin-left: 5px;
    font-size: x-large;
    font-weight: bold;
}
#searchtext:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}
#btnaddlobo{
    text-decoration: none;
    text-align: center;
    color: white;
    border: none;
    background-color: #DEB959;
    width: 12%;
    min-width: 102px;
    font-size: xx-large;
}
#checkadotados{
    margin-top: 1vh; ;
    display: flex;
}
#checktext{
    margin-left: 20px;
    font-size: larger;
}
@media (max-width: 1055px){
    #searchadd{
        flex-direction: column;
    }
    #btnaddlobo{
        margin-top: 10px;
    }
}

#menulobinhos{
    margin-top: 10vh;
    width: 70%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#exemploLobos{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    width: 100%;
}
#content-ex{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.escrito-lobosEx{
    margin-bottom: 100px;
}
.escrito-lobosEx h2{
    font-size: 45px;
    color: #DEB959;
}
#lobos-content{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.bloco-lobo{
    display: flex;
    width: 100%;
    max-width: 1053px;
    margin-bottom: 100px;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.img-left, .img-right{
    width: 410px;
    height: 315px;
}

.img-left{
    box-shadow: -40px -40px 0px 0px #2C5680;
}
.img-right{
    box-shadow: 40px -40px 0px 0px #2C5680;
}
.info-lobo-right{
    width: 400px;
    text-align: right;
}
.info-lobo{
    text-align: left;
    width: 400px;
}
.info-lobo h1, .info-lobo-right h1{
    line-height: 49px;
    font-size: 30px;
}
.info-lobo h4, .info-lobo-right h4{
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 15px;
    font-style: light;
    color: #202020;
}
.info-lobo p, .info-lobo-right p{
    line-height: 20px;
    color: black;
    font-size: 21px;
}
.namebutton-left{
    display: flex;
    justify-content: space-between;
}
.namebutton-right{
    display: flex;
    justify-content: space-between;
}
.btn-show{
    text-decoration: none;
    text-align: center;
    color: white;
    border: none;
    background-color: #DEB959;
    width: 12%;
    min-width: 102px;
    font-size: xx-large;
    padding: 5px;
}
.btn-adotado{
    padding: 5px; ;
    text-decoration: none;
    text-align: center;
    color: white;
    border: none;
    background-color:#7AAC3A;
    width: 12%;
    min-width: 120px;
    font-size: xx-large;
}
@media (max-width: 1170px){
    .left{
        display: flex;
        justify-content: center;
    }
    .right{
        display: flex;
        justify-content: center;
        flex-wrap: wrap-reverse;
        flex-direction: column-reverse;
    }
    .right-info{
        text-align: left;
    }
    .namebutton-right{
        flex-direction: row-reverse;
    }
}


/* FOOTER */
  footer{
    margin-top: 7vh;
    border-top: 5px solid;
    border-image: linear-gradient(90deg, rgba(222,185,89,1) 43%, rgba(44,86,128,1) 100%) 1;
    background-color: #333333;
    display: flex;
    justify-content: center;
}
#content-footer{
    margin: 51px 0;
    display: flex;
    justify-content: space-between;
    width: 70%;
}
#contato{
    display: flex;
}
.div-partes{
    margin: 10px 0 18px 0;
    display: flex;
    align-items: center;
    color: white;
}
#mapa{
    margin-top: 2.6%;
    margin-right: 25px;
}
.img-footer{
    padding-right: 10px;
    height: 15px;
    width: 15px;
}
.map{
    padding-right: 10px;
    height: 20px;
    width: 15px;
}
.botao-quemSomos{
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    width: 140px;
    padding: 0 5px 0 5px;
    border-radius: 5px;
    background-color: #DEB959;
    font-size: 25px;
    border: none;
}
.botao-quemSomos p{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 7px;
}
.botao-quemSomos:visited{
    text-decoration: none;
    color: black;
}
#Desenvolvido{
    display: flex;
    flex-direction: column;
    min-width: 130px;
}
#Desenvolvido .escrito-desenvolvido{
    margin: 6px 10px 10px 0;
    text-align: center;
    color: white;
    font-size: 18px;
}
#Desenvolvido .img-desenvolvido{
    margin: 6px 10px 10px 0;
    display: flex;
    justify-content: center;
}
@media (max-width: 1060px){
    #contato {
        display: flex;
        flex-direction: column;
    }
    #mapa{
        margin-bottom: 25px;
    }
}
@media (max-width:470px){
    #content-footer{
        justify-content: center;
        flex-direction: column;
    }
    #tudo-contato{
        justify-content: center;
    }
    .div-partes{
        justify-content: center;
    }
    #contato{
        justify-content: center;
    }
    #mapa{
        margin-left: 20px;
        justify-content: center;
        margin: none;
    }
    iframe{
        width: 95%;
        min-width: 140px;
    }
    .centraliza{
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
}

#seta {
    width: 120%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.numero-paginas {
    margin: 0 1%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.numero-paginas button {
    padding: 0 1px;
	cursor: pointer;
    border: none;
    background-color: transparent;
	margin: 5px;
	transition: 0.4s;
	font-size: 18px;

}

.numero-paginas button:hover {
    padding: 0 1px;
	background-color: #DEB959;
}

.numero-paginas button.active {
	background-color: #DEB959;
}


